{% extends 'exercise/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<html>
<head>
    <center><h2>MY BADGES</h2>
    <p>See all the badges you have earned from working out!</p></center>
    <style>
div.transbox {
    margin: 30 px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 1.0;
}
div.transbox p {
    margin: 1%;
    font-weight: bold;
    color: black;
}
a:link {
    color: black;
}

</style>
</head>
<div class="transbox" align="center">
<b>Total Points: </b>{{ total_points.total_points }}
    <br>
    <br>
    {% if total_points.total_points > 1000 %}
    <div class="background">
        <div class="transbox">
            <img src="{% static 'GoldBadge.jpg' %}" width="100" height="100">
        </div>
    </div>
    <i>Gold Badge</i>
    {% elif total_points.total_points > 500 %}
    <div class="background">
        <div class="transbox">
            <img src="{% static 'SilverBadge.jpg' %}" width="100" height="100">
        </div>
    </div>
    <i>Silver Badge</i>
    {% elif total_points.total_points > 200 %}
    <div class="background">
        <div class="transbox">
            <img src="{% static 'BronzeBadge.jpg' %}" width="100" height="100">
        </div>
    </div>
    <i>Bronze Badge</i>

    {% endif %}
</div>

<div class="transbox" align="center">
<b>Total Streak: </b>{{ streak }}
    <br>
    <br>
    {% if streak >= 20 %}
    <div class="background">
        <div class="transbox">
            <img src="{% static 'GoldBadge.jpg' %}" width="100" height="100">
        </div>
    </div>
    <i>Gold Badge: Streak</i>
    {% elif streak >= 10 %}
    <div class="background">
        <div class="transbox">
            <img src="{% static 'SilverBadge.jpg' %}" width="100" height="100">
        </div>
    </div>
    <i>Silver Badge: Streak</i>
    {% elif streak >= 5 %}
    <div class="background">
        <div class="transbox">
            <img src="{% static 'BronzeBadge.jpg' %}" width="100" height="100">
        </div>
    </div>
    <i>Bronze Badge: Streak</i>
    {% endif %}
    <center><a href="{% url 'exercise:new_post' %}">Click here to share your accomplishments! </a></center>
</div>

{% endblock %}
</html>