{% extends 'exercise/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<center><h2>EDIT LOCATION</h2></center>
{% if form.errors %}
    <p>Please enter a valid city.</p>
{% endif %}
<center>
    <form action="{% url 'exercise:editlocation' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>

        <input type="submit" value="Update">
        <br>
        <br>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </form>
</center>
{% endblock %}