{% extends 'exercise/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    ul {
        text-align: center;
        margin: 0px;
        list-style-type: none;
        padding 0px;
    }

    ul li {
        display: inline;
    }
</style>
<center><h2>EDIT LOCATION</h2></center>
<center>
    <form action="{% url 'exercise:editlocation' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>

        <input type="submit" value="Update">
        <br>
        <br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <center><li {% if message.tags %} class="{{ message.tags }}" {%endif %}> <center>{{ message }} </center></li></center>
            {% endfor %}
        </ul>
        {% endif %}

    </form>
</center>
{% endblock %}