{% extends "exercise/base.html" %}
{% load socialaccount %}
{% load static %}

{% block content %}
<html>
  <body>
    <center><title>Exercise Gamification Login</title></center>
  {% if user.is_authenticated %}
  <center><p style="font-size:20px">Hello, {{user.username}} !</p></center>
  </body>
  {% else %}
  <center><h1>Exercise Gamification Login</h1></center>
  <center><a href="{% provider_login_url 'google' %}">Login with Google</a></center>
  {% endif %}


  </body>
</html>

{% endblock %}