<!DOCTYPE html>
{% extends 'exercise/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<html>
<head>
    <center><h2>LEADERBOARD</h2>
    <p>See where you are in the rankings!</p></center>
    <style>
div.transbox {
    margin: 30 px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 1.0;
}
div.transbox p {
    margin: 1%;
    color: black;
}
table, th, td {
  border: 1px solid black;
}
th , td{
  text-align: center;
}
caption{
    color: black;
}
</style>
</head>
<body>


<table style="width:100%">
    <caption>Note: You are ranked by average total points not by the overall total to be fair to users who join later</caption>
    <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Points</th>
        <th>Average Points</th>
    </tr>
    {% for rank in leader_board_avg %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ rank.user }}</td>
        <td>{{ rank.workout_points }}</td>
        <td>{{ rank.avg_points }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>

{% endblock %}