<!DOCTYPE html>
{% extends 'exercise/basenoheader.html' %}
{% load crispy_forms_tags %}
{% block content %}
<html>
<head>
    <center><h2>HOW TO USE THE APP</h2></center>
    <style>
div.transbox {
    margin: 30 px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 1.0;
}
div.transbox p {
    margin: 1%;
    color: black;
}
</style>
</head>

<body>
<div class="transbox">
    <ul>
        <li>Log your workouts in the 'Log New Workouts' tab to earn points and badges!</li>
        <br>
        <li>Get outside and workout to earn bonus points! Check the weather in your area first in the 'Current Weather' tab!</li>
        <br>
        <li>Make your way up the leaderboard by logging more workouts and exercises!</li>
        <br>
        <li>Log your workout tips and things you would like to share with others in the 'Log New Post' tab!</li>
    </ul>
</div>
<center><a href="{% url 'exercise:home' %}">Click here to return to the login page</a></center>
</body>

{% endblock %}

</html>