{% extends 'exercise/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<html>
<head>
    <center><h2>COMMUNITY POSTS</h2>
    <p>Learn about tips and tricks to lead a healthier lifestyle from other users!</p></center>
    <style>
div.transbox {
    margin: 30 px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 1.0;
}
div.transbox p {
    margin: 1%;
    color: black;
}
</style>
</head>
    <body>
    <div class="transbox">
        
        {% for post in posts %}
            <p><em><b>@{{ post.created_by.username }}</b></em> {{ post.contents }} <em>{{post.created_at|date:"SHORT_DATETIME_FORMAT" }}</em></p>
        {% endfor %}
        
    </div>
    </body>
<div class="transbox"><center><h2 class="nav-item active">
                <a class="nav-link" href = "{% url 'exercise:new_post' %}">Log New Post</a>
</h2></center></div>
</html>

{% endblock %}