{% extends 'exercise/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<center><h2>My Profile</h2>
    <br>
        <b>Username: </b><i>{{ user.username }}</i>
    <br>
        <b>Email: </b><i>{{ user.email }}</i>
    <br>
        <b>First Name: </b><i>{{ user.first_name }}</i>
    <br>
        <b>Last Name: </b><i>{{ user.last_name }}</i>
    <br>
    <b>Total Points: </b><a href="{% url 'exercise:my_ws' %}">{{ total_points.total_points }} </a>
    <br>
    <br>
    <a href="{% url 'exercise:editprofile' %}">Edit Profile </a>

</center>
{% endblock %}